#top-bar ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#top-bar li {
    float: left;
}

#top-bar a {
    display: block;
    padding: 8px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-bar a:hover{
  background-color: black;
}

.floated_img
{
    float: left;
    padding-left: 100px;
}

#jumbo {
   position: relative;
   text-align: center;
}

#jumbo h2 {
   position: absolute;
   top: 40%;
   width: 100%;
   text-align: center;
   color: ivory;
   text-shadow: 2px 2px 4px #000000;
  }

.col-sm-4 img{
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


footer{
    padding: 25px;
    background-color: #f2f2f2;
}
